<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="live.andiirham.kuylearn">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher_kuylearn"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_kuylearn_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KuyLearn">
        <activity android:name=".raven.MateriActivity"></activity>
        <activity android:name=".raven.UjianActivity" />
        <activity android:name=".raven.QuizActivity" />
        <activity android:name=".raven.ViconActivity" />
        <activity android:name=".raven.AttemptTugasActivity" />
        <activity android:name=".raven.AttemptAbsentActivity" />
        <activity android:name=".raven.AbsenActivity" />
        <activity android:name=".raven.TugasActivity" />
        <activity
            android:name=".raven.ClassListActivity"
            android:theme="@style/customPosts" />
        <activity android:name=".raven.NotificationActivity" />
        <activity
            android:name=".raven.RuangBelajarSActivity"
            android:theme="@style/CustomExplore" />
        <activity
            android:name=".andi.ChatRoomActivity"
            android:theme="@style/CustomExplore" />
        <activity
            android:name=".andi.ChatActivity"
            android:theme="@style/customPosts" />
        <activity
            android:name=".andi.ProfileActivity"
            android:theme="@style/CustomExplore" />
        <activity android:name=".andi.CreatePostActivity" />
        <activity
            android:name=".andi.PostActivity"
            android:theme="@style/customPosts" />
        <activity
            android:name=".andi.ExploreActivity"
            android:theme="@style/CustomExplore" />
        <activity
            android:name=".hakkan.DashboardActivity"
            android:theme="@style/CustomIntro" />
        <activity
            android:name=".hakkan.LoginActivity"
            android:theme="@style/CustomIntro" />
        <activity
            android:name=".hakkan.RegisterActivity"
            android:theme="@style/CustomIntro" />
        <activity
            android:name=".hakkan.WelcomeActivity"
            android:label="welcome_activity" />
        <activity
            android:name=".hakkan.SplashScreenActivity"
            android:theme="@style/SplashScreenStyle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".hakkan.MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>